APOLLO_INSTROSPECTION=1
APOLLO_PLAYGROUND=1
APOLLO_ROUTE=graphql
APP_IDENTIFIER=NODE_FUNCTIONAL_BOILERPLATE
CORS_EXPOSE_HEADERS=x-ws-token
CORS_HEADERS=Origin, X-Requested-With, Content-Type, Accept, Authorization
CORS_METHODS=GET, POST, PUT, OPTIONS, PATCH, DELETE
CORS_ORIGIN=*
MONGO_DB_URL=mongodb://mongo:27017/application
NODE_ENV=development
NODE_PATH=.
PORT=3000
NODE_PATH=.
